@font-face {
    font-family: "Bellota serif ";
    src : url("../font/Bellota-Regular.otf");
}
body{
   background: -webkit-linear-gradient(-9deg, rgb(48, 48, 48), rgb(120, 106, 106));
   background: linear-gradient(-9deg, rgb(48, 48, 48), rgb(120, 106, 106));
   color:#0d8187;
   font-family: 'Bellota serif';
}
header{
    background-color:#303030;
    color:#0d8187;
}
img{
    position: absolute;
    bottom: 0vh;
    right:5px;
    width:256px;
    height:256px;
}
h2{
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
}
p{
    font-family: 'Bellota serif';
}
input{
    margin:0 0 ;
}
.formu{
    background-color:#303030;
}
.error{
    color:red;
}
.validate{
    color:black;
}
